/* MyCarousel.css */

.carousel-container {
    max-width: 600px;
    margin: 2rem auto;
    border-radius: 10px;
    overflow: hidden;
  }
  .contained{
       max-width: 400px;
        height:90vh; 
        margin: 0 auto;
  }
  .carousel .slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius:15px;
  }
  
  .carousel .legend {
    background: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    padding: 10px;
  }
@media (max-width: 768px) {
 .carousel .slide img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius:15px;
  }
  .contained{
    height: 55vh;
  }
}
  